* {
  box-sizing: border-box;
}

html {
  font-family: poppins, sans-serif;
}

body {
  margin: 0;
  background-color: #22252c;
  background-size: cover;
  user-select: none;
}

.screen {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
}

.main-container {
  max-width: 1060px;
  margin: auto;
}

.main-nav {
  width: 50%;
  font-size: 1.1em;
}

.main-nav > a {
  padding: 5px 13px;
  border-radius: 2em;
  transition: 0.5s;
}

.main-nav > :not(:last-child) {
  margin-inline-end: 40px;
}

.gradient-background {
  background-image: linear-gradient(90deg, #0f9ab4, #30bb72);
  border-radius: 3em;
}
.main-header {
  margin: 15px 0 20px;
}

.logo {
  margin: 20px 5px;
  height: 25px;
}

.logo:hover {
  cursor: pointer;
}

.img-container {
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: 200px;
  gap: 30px;
  padding: 0px 55px 30px;
}

.gallery-container {
  background-color: #383b42;
  border: 5px solid #383b42;
  border-radius: 10px;
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.gallery-container .search-container {
  position: relative;
  background-color: #22252c;
  height: 50px;
  width: 270px;
  flex-grow: 1;
  border-radius: 2em;
}

.gallery-container .search-container .search {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: #909193;
  border: none;
  font-size: 1em;
  padding-left: 50px;
  outline: none;
}

.gallery-container .hot-words-container {
  height: 50px;
  width: 270px;
  flex-grow: 1;
  border-radius: 2em;
}

.gallery-container .hot-words {
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 50px;
  color: white;
  padding: 0px 15px;
  background-color: #87898d;
  overflow: hidden;
  border-radius: 2em;
}

.gallery-header {
  padding: 10px;
  margin-bottom: 35px;
}

.gallery-header > :not(:last-child) {
  margin-inline-end: 1.6rem;
}

.meme-text {
  display: block;
  font-size: 1.125em;
  padding: 15px 0;
  text-align: center;
  border-radius: 2em;
  border: 5px outset;
  width: 100%;
  margin-bottom: 20px;
}

.control-panel {
  background-color: #383b42;
  width: 500px;
  height: 520px;
  padding: 15px 30px;
}

.control-panel button:hover {
  cursor: pointer;
}

.font-editor {
  background-color: #19a59f;
  padding: 15px;
  gap: 15px 30px;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 15px;
  margin-bottom: 20px;
}

.img-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: filter 0.3s, border 0.3s, box-shdow 0.3s;
}

.img-item:hover {
  cursor: pointer;
  box-shadow: 0 0 5px white;
  filter: contrast(120%);
}
.canvas-container {
  border-radius: 30px;
  width: 100%;
  height: 100%;
  cursor: grab;
}

.canvas-container-outline {
  /* border-radius: 30px; */
  height: 335.4px;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.116);
  width: 500px;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
}

.saved-container {
  width: 100%;
  border: 3px solid white;
  position: absolute;
  top: 85px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6c6f77e1;
  padding: 20px 10px;
  opacity: 0;
  visibility: hidden;
  border-radius: 20px;
  transition: opacity 0.5s, visibility 0.5s;
  box-shadow: 0 10px 10px #000000ab;
  
}

.saved-memes {
  grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-rows: 150px;
  gap: 20px;
  height: 100%;
  width: 100%;
}

.saved-memes img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: filter 0.3s, border 0.3s, box-shdow 0.3s;
}

.saved-memes img:hover {
  cursor: pointer;

}

body.open-memes .saved-container {
  opacity: 1;
  visibility: visible;
}
body.open-memes .saved-memes > * {
  display: inherit;
}

/* BUTTONS */

.menu-btn {
  display: none;
  font-size: 25px;
  color: #149fa9;
  background-color: white;
  border-radius: 50%;
  border: none;
  outline: none;
}
.search-btn {
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.search-btn:hover {
  cursor: pointer;
}

.ctrl-btn {
  border-radius: 10px;
  border: none;
  padding: 0px;
  width: 55px;
  height: 55px;
  font-family: fa-solid;
  font-size: 2em;
}

.gallery-header a:hover {
  cursor: pointer;
}

.ctrl-btns {
  margin-bottom: 20px;
}

.ctrl-btns > :not(:last-child) {
  margin-inline-end: 20px;
}

.gallery-container .btn-more {
  color: white;
  font-size: 1em;
  padding: 5px 25px;
  height: 35px;
}

.fa-btn {
  font-family: fa-solid;
}

.btn-export {
  width: 45%;
  padding: 7px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 1.25em;
  font-family: poppins, sans-serif;
  transition: box-shadow 0.3s;
}

.switch {
  background-image: linear-gradient(#5a71d8, #637ce9, #5a71d8);
  border-top-color: #8da1fa;
  border-bottom-color: #5870da;
}

.font-selector {
  grid-row: 2;
  cursor: pointer;
  border-radius: 10px;
  grid-column: span 3;
  font-size: 1.5em;
  padding-left: 20px;
  border: none;
  outline: none;
}

.ctrl-btn.change-color {
  padding: 3px;
  cursor: pointer;
}

.share {
  background-color: #1e7cd3;
}

.download {
  background-color: #8f44bb;
}

.close-saved {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.747);
  background-color: transparent;
}

.closed-saved:hover {
  cursor: pointer;
}

/* HELPERS */

.grid {
  display: grid;
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.space-between {
  justify-content: space-between;
}

.hide {
  display: none;
}

.clean-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 620px) {
  .main-container {
    padding: 10px;
    width: 450px;
    margin: 0;
  }
  .menu-btn {
    display: inline-block;
    font-size: 25px;
    color: #149fa9;
    background-color: white;
    border-radius: 50%;
    border: none;
    outline: none;
  }
  .menu-btn:hover {
    cursor: pointer;
  }

  body.open-menu .main-nav {
    transform: translateX(0);
  }
  

  .main-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    padding-top: 0px;
    background-image: linear-gradient(
      90deg,
      rgba(15, 155, 179, 0.85),
      rgba(48, 187, 113, 0.85)
    );
    background-color: rgba(37, 37, 37, 0.9);
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.4s ease-out;
  }
  .main-nav > * {
    border-bottom: 1px solid rgba(37, 37, 37, 0.9);
  }
  .main-nav > * a {
    display: flex;
    margin: auto;
    margin-bottom: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 100%;
  }
  .main-nav > :not(:last-child) {
    margin-inline-end: 0;
  }

  body.open-menu .main-screen {
    opacity: 1;
    visibility: visible;
  }
}
